{% extends 'main.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">
{% endblock %}
{% block main %}

<div class="page">
    <div class="container">
      <div class="left">
        <div class="login">Login</div>
        <div class="eula">By logging in you agree to the ridiculously long terms that you didn't bother to read. <br>
          Didn't have an account? <a href="{% url 'register' %}">Signup</a>
        </div>
        {% for message in messages %}
        <div class="alert alert-danger">{{message}}</div>
        {% endfor %}
      </div>
      <div class="right">
        <div class="form">
            {% for i in mess %}
            {{i.name}} 
            <form method="POST">
                {%csrf_token%}
                <input type="hidden" name="mess_id" value="{{i.id}}" >
                <input type="hidden" name="user_id" value="{{request.user.id}}">
                <input type="submit" value="Join">
            </form>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}


